.navbar-brand img {
  height: 2rem;
  width: 5rem;
}

.homeVh {
  height: 88.3vh;
}

.text-justify {
  text-align: justify;
}

::placeholder {
  text-transform: capitalize;
}

.nresize {
  resize: none;
  height: 10rem;
}

/* @keyframes progress-bar-stripes{
  0%{
    width: 0;
  }
} */
/* @-moz-keyframes progressBarAnimation{
  0%{
    width: 0;
  }
}
@-webkit-keyframes progressBarAnimation{
  0%{
    width: 0;
  }
} */
